<%= render partial: 'spree/admin/vendors/tabs', locals: { current: :translations } %>

<div class="row" style="display: block">
  <%= render 'spree/admin/translations/form', resource: @object %>
</div>
